@define-color surface_container_lowest #050404;
@define-color surface_container_low    #170e10;
@define-color surface_container        #392025;
@define-color primary                  #ba6e7d;
@define-color on_background            #c3af92;
@define-color error                    #59313a;

* {
    font-family: "JetBrainsMono NFP";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: @surface_container_lowest;
    color: transparent;
    transition-property: background-color;
    transition-duration: 0.1s;
    margin: 0;
    border-radius: 0px
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#custom-cava {
    font-family: "Tahoma";
}

#workspaces {
    margin: 2 0 0 0;
    border-radius: 14px;
}

#workspaces button {
    background: @surface_container_lowest;
    color: @primary;
    padding: 0 4px;
    margin: 0 2px;
}

.modules-left {
    background-color: @surface_container_lowest;
}

#workspaces button.focused {
    color: @primary;
}
#workspaces button.active {
    background-color: @surface_container_low;
    color: @primary;
    border-radius: 0;
    border-top: 2px solid @primary;
    margin-top: -2px;
}

#workspaces button.urgent {
    background-color: @error;
    color: @surface_container;
}

#clock {
    background-color: @surface_container_lowest;
    color: @primary;
    padding: 0 12 0 12
}

#clock.date {
    color: @on_background;
}

#pulseaudio,
#mpd,
#mpris,
#network,
#battery,
#custom-exit {
    background-color: @surface_container_lowest;
    color: @primary;
    padding: 5 7 5 7
}

#mpd {
    margin-left: 0;
    padding-left: 1;
}

#tray,
#language,
#cpu,
#memory {
    background-color: @surface_container_lowest;
    color: @primary;
    padding: 0 7 0 7;
    margin: 0 2 0 2;
}

#custom-trayicon {
    font-size: 20px;
    margin: 0 0 0 4;
}

#tray {
    background-color: @surface_container_lowest;
    color: @primary;
    margin: 0 7 0 7;
}

#custom-exit {
    padding: 5 10 5 4;
}

/* hover animations */

/* #pulseaudio:hover,
#mpd:hover,
#memory:hover,
#mpris:hover,
#cpu:hover,
#custom-exit:hover,
#clock:hover,
#window:hover,
#language:hover {
    background-color: @surface_container_low;
} */

#window, window#waybar.solo {
    background-color: @surface_container_lowest;
    color: @primary;
    padding: 0 10 0 10;
}
