@define-color surface_container_lowest #120e08;
@define-color surface_container_low    #32302f; 
@define-color surface_container        #504945; 
@define-color primary                  #D4BE98; /* The "Brown Highlight" */
@define-color on_background            #7B6544; /* Main Text (Beige) */
@define-color error                    #ea6962;

* {
    font-family: "JetBrainsMono NFP";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

.modules-left {
    margin-left: 1px; 
    background-color: transparent;
}

window#waybar {
    background-color: @surface_container_lowest;
    color: @on_background; /* Default to beige for monochrome look */
    transition-property: background-color;
    transition-duration: 0.1s;

    /*border: 2px solid @primary;
    border-radius: 6px;*/
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
}

#custom-cava {
    font-family: "Tahoma";
    color: @primary; /* Visualizer looks better in accent color */
}

#workspaces {
    background-color: transparent;
}
#workspaces button {
    background: @surface_container_lowest;
    color: @on_background; /* Inactive workspaces are beige */
    padding: 0 4px;
    margin: 2 2px;
}
#workspaces button.focused {
    color: @primary; /* Focused workspace gets the Highlight */
}
#workspaces button.active {
    /*background-color: @surface_container_low;*/ 
    /*border-top: 2px solid @primary;*/
    color: @primary;
}
#workspaces button.urgent {
    background-color: @error;
    color: @surface_container_lowest;
}

#clock {
    background-color: transparent;
    color: @primary;
    padding: 0 12 0 12;
    border: none;
}
#clock.date {
    color: @on_background;
}

#pulseaudio,
#mpd,
#mpris,
#battery,
#custom-exit,
#network,
#tray,
#language,
#cpu,
#memory {
    background-color: transparent;
    color: @primary; 
    padding: 5 7 5 7;
}

#mpd {
    margin-left: 0;
    padding-left: 1;
}

#tray,
#language,
#cpu,
#memory {
    margin: 0 2 0 2;
}

#custom-trayicon {
    font-size: 20px;
    margin: 0 0 0 4;
}

#tray {
    margin: 0 7 0 7;
}

#custom-exit {
    padding: 5 10 5 4;
    color: @error; /* Exit button usually looks good in red */
}

#window, window#waybar.solo {
    background-color: @surface_container_lowest;
    color: @on_background;
    padding: 0 10 0 10;
}
